<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.8/dist/cerulean/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/master.css">
    <title>My Recipe Book</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new">Add New Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recipes">Your Recipe Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About {{current_user.name}}</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
          {% if not current_user.is_active %}
            <a class="login_button" href="/login"><img src="/static/img/dark_google_login.png"></a>
          {% endif %}
          {% if current_user.is_active %}
            <a class="logout_button" href="/logout">Sign out <img class="profile_pic" src="{{current_user.profile_image_url}}"></a>
          {% endif %}

        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="static/js/master.js"></script>
  </body>
</html>
